<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Impressum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="impressum-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Impressum</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mark Baumann</ion-card-title>
        <ion-card-subtitle>Private Webseite ohne kommerzielle Nutzung</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Adresse:</strong></p>
        <p>Uferstraße 6a, 07548 Gera</p>

        <p><strong>Kontakt:</strong></p>
        <p>Telefon: +49 177 9091029</p>
        <p>E-Mail: kontakt&#64;markb.de</p>

        <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong></p>
        <p>Mark Baumann, Uferstraße 6a, 07548 Gera</p>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
