<ion-header>
  <ion-toolbar>
    <ion-title>Mark Baumann</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleTheme()">
        <ion-icon slot="start" [name]="isDarkMode ? 'sunny' : 'moon'"></ion-icon>
        <span>{{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <!-- Profilbereich -->
    <ion-row>
      <ion-col size="12" class="profile-col">
        <div class="profile-header">
          <img src="assets/mark.JPG" alt="Profilbild" class="profile-picture"/>
          <h1>Mark Baumann</h1>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
