/* Global Styling */
:root {
  --ion-background-color: #fff;
  --ion-text-color: #000;
  --ion-toolbar-background: #fff; /* Light Mode Hintergrundfarbe für Toolbar */
  --ion-toolbar-color: #000; /* Textfarbe in Toolbar für Light Mode */
  --ion-card-background: #fff;
  --ion-card-title-color: #000;
  --ion-card-content-color: #000;
  --ion-card-border-color: #ddd;
}

.dark-theme {
  --ion-background-color: #121212;
  --ion-text-color: #e0e0e0;
  --ion-toolbar-background: #000; /* Dark Mode Hintergrundfarbe für Toolbar */
  --ion-toolbar-color: #e0e0e0;
  --ion-card-background: #1e1e1e;
  --ion-card-title-color: #e0e0e0;
  --ion-card-content-color: #b0b0b0;
  --ion-card-border-color: #333;
}

.profile-header {
  text-align: center;
  padding: 20px;
}

.profile-picture {
  width: 100%;
  max-width: 400px; /* Responsive width */
  height: auto;
  border: 2px solid var(--ion-card-border-color);
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Subtle shadow */
}

h1 {
  color: var(--ion-text-color);
  margin: 10px 0;
}

.info-col, .projects {
  margin: 20px 0;
}

.info-card {
  border-radius: 10px; /* Rounded corners for cards */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Subtle shadow */
}

ion-card img {
  width: 100%;
  height: auto;
}
